@model Entities.Usuario

@{
    ViewBag.Title = "Actualizar Usuario";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="~/Content/CreateStyles.css">
</head>
<h2>Actualizar Usuario</h2>

<form method="post" action="/Home/UpdateView">
    <input type="hidden" name="Id" value="@Model.Id" />

    <label>Nombre:</label>
    <input type="text" name="Name" value="@Model.Name" required />
    <br />

    <label>Username:</label>
    <input type="text" name="Username" value="@Model.Username" readonly />
    <br />
    <label>Password:</label>
    <input type="password" name="PasswordHash" value="@Model.PasswordHash" required />
    <br />

    <label>Rol:</label>
    <select name="Rol" required>
        <option value="Admin" @(Model.Rol == "Admin" ? "selected" : "")>Admin</option>
        <option value="Editor" @(Model.Rol == "Editor" ? "selected" : "")>Editor</option>
        <option value="Viewer" @(Model.Rol == "Viewer" ? "selected" : "")>Viewer</option>
    </select>
    <br />

    <label>Estado:</label>
    <select name="Status" required>
        <option value="Active" @(Model.Status == "Active" ? "selected" : "")>Activo</option>
        <option value="Inactive" @(Model.Status == "Inactive" ? "selected" : "")>Inactivo</option>
    </select>
    <br />

    <button type="submit">Guardar Cambios</button>
</form>

